@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$ABGray: #EEEEEE;
$ABCream: #FCFCFC;
$ABBrown: #B9B9B9;
$ABGreen: #8AC007;

$margin: 10px;


body {
  background-color: $ABCream;
}

.ABAddressEntry {
  background-color: $ABGray;
  text-color: $ABBrown;
}

.ABAddressList {
  background-color: $ABCream;
  text-color: $ABBrown;
  margin-top: $margin;
}

.ABAddressCounter {
}

.ABAlphabetPicker {
  margin-top: $margin;
  border-bottom: 1px solid black;
  display: flex;
}

.ABAlphabetPickerLetter {
  margin-left:1%;
  margin-right:1%;
}

.ABCheckbox {
  padding-top: 2px;
  padding-left: 20px;
}

.ABAddressListFilteredAddresses {
  background-color:  $ABCream;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.ABFriendEmail {
  border-bottom: 1px solid black;
  text-align: left;
  vertical-align: bottom;
  min-height: 50px;
  padding-top:10px;
}

.ABGuestList {
  margin-top: $margin;
  background-color: $ABGray;
  text-color: $ABBrown;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
}

.ABGuestListEntry {
  background-color: $ABCream;
}

.ABMoveRight {
  float: right;
  margin-right: $margin;
}
